<template>
  <div class="about-card">
    <div class="card-title">
      <img height="80px" width="70px" src="../img/ghazale.png" alt="avatar" class="avatar">
      <div class="title-text-content">
        <p>Curriculum Vitae</p>
        <h2>Ghazale Fallah</h2>
      </div>
    </div>
    <div class="card-content">
      <p>Name: Ghazale Fallah<br>
        Gender: Female<br>
        Date Of Birth: 1996/06/04<br>
        Marital Status: Single<br>
      </p>

      <table width="100%">
        <tr>
          <th colspan="2">Skills, Hobbies, Interests</th>

        </tr>
        <tr>
          <td>FrontEnd</td>
          <td>Html <img src="../img/html5.png" width="20px"> ,
            Css <img src="../img/css-3.png" width="20px"> ,
            Javascript <img src="../img/javascript.png" width="20px"> , Bootstrap <img src="../img/bootstrap.png" width="20px">,
            Vuejs <img src="../img/vue.png" width="20px"></td>
        </tr>
        <tr>
          <td>BackEnd</td>
          <td>Java <img src="../img/java.png" width="20px"> ,
            Python <img src="../img/python.png" width="20px"> , C# <img src="../img/hashtag.png" width="20px"> ,
            Javascript <img src="../img/javascript.png" width="20px"> </td>
        </tr>
        <tr>
          <td>Multi Media Software</td>
          <td>Photoshop <img src="../img/photoshop.png" width="20px"> , Photo impact<img src="../img/cms.png" width="20px">, Captivate <img src="../img/cms.png" width="20px">, Multimedia Builder <img src="../img/cms.png" width="20px">, Snagit <img src="../img/cms.png" width="20px"> and ...</td>
        </tr>
        <tr>
          <td>Languages</td>
          <td>English <img src="../img/english-language.png" width="20px"> ,
            Spanish(beginner) <img src="../img/spain.png" width="20px"></td>
        </tr>
        <tr>
          <td>Hobbies</td>
          <td>Playing Violin <img src="../img/violin.png" width="20px">, Dancing(HipHop)<img src="../img/dancer.png" width="20px">,
            Doing TRX <img src="../img/excersice.png" width="30px">, Shopping <img src="../img/grocery.png" width="20px"> and ...</td>
        </tr>
        <tr>
          <td>Interests</td>
          <td>Learning Web programming languages, Working in the field of web design,
          Playing new sogns, Studying Spanish and English, Learning K-Pop and ...</td>
        </tr>
      </table>
      <p>I am a graduate student majoring in Software Engineering an now I am
        an undergraduate student majoring in Computer Science at Islamic Azad University Science and Research Branch. Actually I am a junior.
        Moreover I am eager to work on Web Developing. I am going to make an important career move by
        gaining more experience in my job. I mush prefer to work on a team. collabrative work offers me a great
        opportunities to broaden my horizons and learn from others.
      </p>
      <p>I have worked at cultural and educational center called Ghalam Chi as a backer and english Teacher
        also now I am working at water an waste water company. In addition I am doing some web projects remotely
        and empirically and "I KEEP LEARNING UP".
      </p>
    </div>
  </div>
</template>

<style lang="sass" scoped>
  .about-card
    min-height: calc(100vh - 150px)
    background: #333
    padding: 3em
    border-radius: 10px
    color: white
    .card-title
      display: flex
      align-items: center
      background: #222
      border-radius: 10px
      .avatar

        border: 1px solid rgba(255, 255, 255, 0.4)
        border-radius: 50%
        margin: 0 30px
    .title-text-content p
      margin-bottom: 0
      color: rgb(210, 210, 210)
    .title-text-content h2
      margin-top: 0

    .card-content p
      line-height: 1.5
      margin: 30px auto

    table
      border-spacing: 0px
      margin: 50px auto
      tr th, tr td
        border: 1px solid white
        border-top: none
        padding: 10px
        text-align: center
    &:first-of-type
    border-left: none
    &:nth-of-type(2)
    border-right: none

</style>
